<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dionvi - Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img class="logo-centre" src="{{ url_for('static', filename='images/Dreek_Logo_Transparent.png') }}" alt="Logo">
    <h1>Welcome To Dionvi</h1>
    <form method="POST" action="{{ url_for('signup') }}" class="auth-form">
        <div class="input-box">
            <input name="username" placeholder="Enter Username" required>
        </div>
        <div class="input-box" style="margin-top: 20px;">
            <input name="email" placeholder="Enter Email" required>
        </div>
        <div class="input-box" style="margin-top: 20px;">
            <input class="pass" name="password" type="password" placeholder="Enter Password" required>
        </div>
        <div class="input-box" style="margin-top: 20px;">
            <input class="pass" name="confirm_password" type="password" placeholder="Confirm Password" required>
        </div>
        <button type="submit" class="auth-button">Sign Up</button>
    </form>
    <p>Have an account already? <a href="{{ url_for('login') }}">Login</a></p>
</body>
</html>